
body {margin:0;padding:0; font-family: '나눔고딕', NanumGothic, ng !important}

.ieCover {	
	display:block;position:absolute;left:0;top:0;width:100%;height:100%;
	z-index:-1;
} /* 헤더 배경 반투명처리를 위한 코드 */
#kso-nav.sticked,#kso-nav.sticked .dropdown-menu {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); 
	opacity: .8;
}
.dropdown-menu {background-color:#222}

#kso-nav .navbar-nav>li>a {padding:45px 25px}
#kso-nav.sticked .navbar-nav>li>a {padding-top: 25px;padding-bottom: 25px}
#kso-promotion {z-index:2;}

#kso-header .navbar .nav li ul.dropdown-menu:after {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}
