@charset "utf-8";

/* User Custom CSS */  /*  */
#kso-nav .navbar-nav>li>a,.login-menu li,.login-menu button,.login-menu a {color:#fff} /* 탑 메뉴 폰트컬러 */
#kso-nav {border-bottom: 1px solid rgba(255,255,255,.1)} /* 탑 메뉴 하단 라인 컬러 */
#kso-nav .dropdown-menu {background-color: #fff}  /* 2차 메뉴 배경 컬러 */
#kso-nav .dropdown-menu>li>a {color: #333} /* 2차 메뉴 폰트 컬러 */
#kso-nav.sticked .navbar-nav>li>a,#kso-nav.sticked .dropdown-menu>li>a {color: #333} /* 스크롤 후 메뉴 폰트 컬러 */
#kso-nav.sticked,#kso-nav.sticked .dropdown-menu {background-color: rgba(255,255,255,.9)} /* 스크롤 후 메뉴바 배경컬러 */
.kso-opener .line,
.navbar-nav > li.active > a > span,.navbar-nav > li:hover > a > span {border-bottom-color:#fff} /* 탑 메뉴 활성화된 메뉴 하단 라인 컬러 */
#kso-nav.sticked .kso-opener .line,
#kso-nav.sticked .navbar-nav > li.active > a > span,
#kso-nav.sticked .navbar-nav > li:hover > a > span {border-bottom-color:#333} /* 스크롤 후에 활성화된 메뉴 하단 라인 컬러 */

/* 슬라이드 */
/*#kso-promotion .caption-title {font-size: 60px;font-weight: normal;letter-spacing: 10px}  캡션 폰트 */
#kso-promotion .caption-title {font-size: 24px;font-weight: normal;letter-spacing: 0px} /* 캡션 폰트 */

#kso-promotion .caption-title,#kso-promotion .caption-cont {color:#fff} /* 캡션 폰트 컬러*/
#kso-promotion .caption-title:after {background-color:#fff} /* 타이틀 아래 라인 컬러 */
.btn-camera {color:#fff;border-color:#fff} /* 버튼 컬러 */
.btn-camera:hover {background-color:#fff} /* 버튼 마우스 오버 시 컬러 */

/* 각 섹션 상하 공간 */
#kso-about {padding-top:100px} /* 1) 어바웃 */
#kso-about .kso-about-1 {padding-top:0px;padding-bottom:80px} /* 1_1) 어바웃 */
#kso-about .kso-about-2 {padding-top:90px;padding-bottom:80px} /* 1_2) 어바웃 */
#kso-services {padding-top:100px;padding-bottom:100px} /* 2) 섹션 서비스 */
#kso-parallax-1{padding-top:130px;padding-bottom:100px} /* 3) 패럴랙스 1 */
#kso-tab {padding-top:100px;padding-bottom:0px} /* 4) 섹션 인포 */
#kso-parallax-2 {padding-top:130px;padding-bottom:80px} /* 5) 패럴랙스 2 */
#kso-post {padding-top:100px;padding-bottom:100px} /* 6) 섹션 포스트 */
#kso-contact{padding-top:100px;padding-bottom:100px} /* 7) 콘텍트 */
#kso-footer {padding-top:40px;padding-bottom:10px} /* 8) 푸터(하단) */
#kso-copyright {padding-top:15px;padding-bottom:15px} /* 9) 카피라이트 */

/* ETC */
section h1,section h2,section h3,section h4 {font-family:'Noto Sans KR',sans-serif} /* 섹션 타이틀 폰트 */
#kso-teaser .col-img .teaser-caption h3, #kso-teaser .col-img .teaser-caption p {color:#fff} /* 티져 이미지형 폰트 컬러 */
.company-info,.parallax .plus-line span,
.parallax h3,.parallax p,.parallax .box-cont h4,.parallax .box-cont i {color:#fff} /* 패럴랙스, 콘텍트섹션 폰트 컬러 */
ul.float-menu, ul.float-menu .member-title span {background-color: #1b1b1b}  /* 우측 판넬 배경 컬러 */
ul.float-menu {padding:30px !important;}
/* 서브 */
.sub-head-title h1 {font-size:36px} /* 서브 탑 제목 폰트 사이즈 */
.sub-head-title p {font-size:16px} /* 제목 아래 폰트 사이즈 */
.sub-head-title h1,.sub-head-title p {color:#fff} /* 폰트 컬러 */

/* 푸터 */
#kso-footer {background-color:#f8f8f8} /* 배경컬러 */
#kso-footer .footer-color {color:#252525} /* 내용컬러 */
#kso-footer .deco-line {border-color:#8dedff} /* 제목 아래 라인 컬러 */
#kso-copyright {background-color:#1eb9d5; color:#FFF;} /* 카피라이트 배경 */

@media (min-width: 1200px) {  
	#camera_wrap {min-height: 500px}
}
/* 추가할 CSS는 여기에 @media (max-width: @iphone-screen) {  */
/* 
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max–moz-device-pixel-ratio: 2) {
	#kso-onepage1,#kso-onepage2,#kso-onepage3,#kso-onepage4,#kso-onepage5 {background-repeat:no-repeat;background-size: 414px 767px;width:414px;height: 767px;}
}
*/
@media (max-width: 480px) {  
	#kso-onepage1,#kso-onepage2,#kso-onepage3,#kso-onepage4,#kso-onepage5,
	#kso-parallax-1,#kso-parallax-2,#kso-contact {background-attachment:scroll;}
}
